.sk {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 30px;
    
}

.sk1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    

}